.todotxt footer {
    padding: 8px 8px;
}

.todotxt__header {
    min-height: 50px;
}
.todotxt__header .mdl-layout__header-row {
    height: 50px;
}
.todotxt__grid {
    max-width: 800px;
    min-width: 300px;
}

.todotxt__list {
    width: 100%;
    white-space: initial;
}

.todotxt__item td:first-child {
    width: 1%;
    vertical-align: middle;
    padding: 0px 14px;
}

.todotxt__item.js-done {
    text-decoration: line-through !important;
}

.todotxt__item .project {
    color: #de3226;
}

.todotxt__item .context {
    color: #4caf50;
}
.todotxt__item--delete-button {
    vertical-align: middle !important;
    padding: 0 !important;
}

#edit {
    position: relative;
}

.todotxt__edit {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 64px;
    left: 0px;
    right: 0px;
}

.todotxt__edit .edit_box{
    width: 100%;
    height: 100%;
}
.todotxt__edit .js-save-item-button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-bottom: 80px;
    margin-right: 20px;
}

.text-center {
    text-align : center;
}
.wrapper {
    margin : auto;
}
